version: "3.9"

services:
  epalabeling:
    image: createiflabs/epalabeling:latest
    container_name: epalabeling
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    volumes:
      - ./data:/app/data
    restart: unless-stopped
